html, body {
    height: 100%;
}

a i {
    color: black;
}

nav.uk-navbar {
    background-color: black;
    color: white;
}

.uk-navbar-brand,
.uk-navbar-brand:hover,
.uk-navbar-brand:focus,
.uk-navbar-toggle,
.uk-navbar-toggle:focus,
.uk-navbar-toggle:hover,
.uk-navbar-nav>li>a {
    color: #cccccc;
}

.uk-table tfoot {
    font-style: normal;
    font-weight: bold;
}

.abcRioButton.abcRioButtonLightBlue {
    margin: 0 auto;
}

.main-container {
    min-height: calc(100% - 40px);
    background-color: silver;
}

.main-container>.uk-container {
    background-color: white;
}

